* {
  margin: 0;
  text-align: center;
  font-family: "Playpen Sans", cursive;
}
.content {
  button {
    border-radius: 5px;
    border-style: none;
    background-color: rgb(92, 73, 81);
    color: white;
    &:hover {
      background-color: white;
      color: rgb(92, 73, 81);
    }
  }
}

body {
  background-color: rgb(144, 115, 128);
}

.browserPet {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  width: 5rem;
  padding: 1rem;
  margin: 2rem;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.5);
  }
}

.bgStyle {
  order: 3;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./img/BG_Image.jpeg);
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 10px ridge rgb(60, 60, 60);
  box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 1);
}

.hidden {
  display: none;
}
.petStyle,
.petAsleep {
  width: 80%;
  height: 80%;
  background-size: contain;
}

.petStyle {
  background-image: url(./img/Pet_Cat.png);
}

.petAsleep {
  background-image: url(./img/Pet_Cat_Sleep.png);
}

#needs {
  order: 4;
}
.needs {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;

  div {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  button {
    background-color: white;
  }
}

.needGood {
  background-color: rgb(0, 128, 0);
}

.needOk {
  background-color: orange;
}

.needBad {
  background-color: red;
}

.needGood,
.needOk,
.needBad {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border-style: none;
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.8);
}

.bgDirty {
  background-image: linear-gradient(rgba(131, 197, 0, 0.4)),
    url(./img/BG_Image.jpeg);
}

.darken {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  z-index: 90;
}

#stopBtn {
  order: 5;
  padding: 1rem;
  width: 5rem;
}

#needBtn {
  order: 2;
  z-index: 55;
}
.heading {
  order: 1;
  color: white;
  text-decoration: underline;
}

.createFood,
.cleanPet,
.lightOnOff {
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 80px;
}
.createFood {
  background-image: url(./img/IMG_0102.png);
}
.cleanPet {
  background-image: url(./img/IMG_0099.png);
}
.lightOnOff {
  background-image: url(./img/IMG_0101.png);
}
