* {
  margin: 0;
  text-align: center;
  font-family: "Playpen Sans", cursive;
}

.content button {
  border-radius: 5px;
  border-style: none;
  background-color: rgb(92, 73, 81);
  color: white;
}
.content button:hover {
  background-color: white;
  color: rgb(92, 73, 81);
}

body {
  background-color: rgb(144, 115, 128);
}

.browserPet {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  width: 5rem;
  padding: 1rem;
  margin: 2rem;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
button:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.bgStyle {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./img/BG_Image.jpeg);
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  border: 10px ridge rgb(60, 60, 60);
  box-shadow: 0px 0px 30px 15px rgb(0, 0, 0);
  -webkit-box-shadow: 0px 0px 30px 15px rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 30px 15px rgb(0, 0, 0);
}

.hidden {
  display: none;
}

.petStyle,
.petAsleep {
  width: 80%;
  height: 80%;
  background-size: contain;
}

.petStyle {
  background-image: url(./img/Pet_Cat.png);
}

.petAsleep {
  background-image: url(./img/Pet_Cat_Sleep.png);
}

#needs {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.needs {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.needs div {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.needs button {
  background-color: white;
}

.needGood {
  background-color: rgb(0, 128, 0);
}

.needOk {
  background-color: orange;
}

.needBad {
  background-color: red;
}

.needGood,
.needOk,
.needBad {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border-style: none;
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.8);
}

.bgDirty {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(131, 197, 0, 0.4))), url(./img/BG_Image.jpeg);
  background-image: linear-gradient(rgba(131, 197, 0, 0.4)), url(./img/BG_Image.jpeg);
}

.darken {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  z-index: 90;
}

#stopBtn {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  padding: 1rem;
  width: 5rem;
}

#needBtn {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  z-index: 55;
}

.heading {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  color: white;
  text-decoration: underline;
}

.createFood,
.cleanPet,
.lightOnOff {
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 80px;
}

.createFood {
  background-image: url(./img/IMG_0102.png);
}

.cleanPet {
  background-image: url(./img/IMG_0099.png);
}

.lightOnOff {
  background-image: url(./img/IMG_0101.png);
}/*# sourceMappingURL=styleV2.css.map */